{% load static widget_tweaks %}

{% csrf_token %}

{% for hidden_field in form.hidden_fields %}
  {{ hidden_field }}
{% endfor %}

<div class="form-group has-feedback">
  {% render_field form.username class="form-control" placeholder=form.username.label %}
  <span class="glyphicon glyphicon-user form-control-feedback"></span>
</div>
<div class="form-group has-feedback">
  {% render_field form.email class="form-control" placeholder=form.email.label %}
  <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
</div>
<div class="form-group has-feedback">
  {% render_field form.password class="form-control" placeholder=form.password.label %}
  <span class="glyphicon glyphicon-lock form-control-feedback"></span>
</div>
<div class="form-group has-feedback">
  {% render_field form.password_confirm class="form-control" placeholder=form.password_confirm.label %}
  <span class="glyphicon glyphicon-lock form-control-feedback"></span>
</div>
<div class="row">
  <div class="col-xs-7">
    <div class="image">
      <img src="{% static "dist/img/avatar4.png" %}" width="60px" height="60px" class="img-circle" alt="User Image">
    </div>
  </div>
  <div class="col-xs-5">
    <button for="files" type="button" class="btn btn-twitter btn-block btn-flat center-button">ELEGIR FOTO</button>
    {% render_field form.avatar class="form-control" accept="image/*" %}
  </div>
</div>
<div class="row">
  <div class="col-xs-7 center-button-s">
    <div class="checkbox icheck">
      <label>
        {% render_field form.confirm_terms %} Acepto los términos.
      </label>
    </div>
  </div>
  <div class="col-xs-5">
    <button type="submit" class="btn bg-blue btn-block btn-flat center-button">Registrar</button>
  </div>
</div>