{% load static %}<!DOCTYPE html>
<html>
<head>
  {% block title_outer %}
    <title>{% block title %}{{ site.name }}{% endblock %}</title>
  {% endblock %}

  {% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
  {% endblock %}

  {% block stylesheets %}
    {% include 'users/lib/_styles.html' %}
  {% endblock %}
</head>
<body class="hold-transition register-page">

  <div id="overlay"></div>
  <div id="bg-video"></div>

  <div id="box-title" class="jumbotron vertical-center">
    <div class="container text-center">
      <i class="flaticon-horse"></i>
      <h1>Hipódromo La Rinconada</h1>
      <i class="flaticon-horse flip"></i>
      <div class="row">
        <div class="col-md-offset-4 col-md-4 col-md-offset-4">
          <button id="btn-iniciarsesion" class="btn bg-green btn-block btn-flat margin">Iniciar sesión</button>
        </div>
        <div class="col-md-offset-4 col-md-4 col-md-offset-4">
          <button id="btn-registrar" class="btn bg-green btn-block btn-flat margin">Registrar</button>
        </div>
      </div>
    </div>
  </div>

  {% include 'users/components/register_box.html' %}
  
  {% include 'users/components/login_box.html' %}

{% block javascript %}
  {% include 'users/lib/_scripts.html' %}
  <script>
    console.log({{ form.fields|length }});
  </script>
{% endblock %}

{% block extra_foot %}{% endblock %}
</body>
</html>